@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap');

body {
  font-family: 'Poppins', sans-serif;
  background: #edf2f7;
}

img.btn- {
  width: 100%;
  height: auto;
  max-height: 450px;
  object-fit: contain;
  transition: transform 0.3s ease;
}

img.btn-:hover {
  transform: scale(1.03);
}

@media (max-width: 1023px) {
  .image-container {
    display: none;
  }

  .form-container {
    width: 100% !important;
    max-width: 90% !important;
    margin: auto;
  }

  .main-wrapper {
    padding: 2rem;
  }
}
