@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap');

body {
  font-family: 'Poppins', sans-serif;
  background: #edf2f7;
}

img.btn- {
  width: 100%;
  height: auto;
  max-height: 450px;
  object-fit: contain;
  transition: transform 0.3s ease;
}

img.btn-:hover {
  transform: scale(1.03);
}
/* From Uiverse.io by cssbuttons-io */ 
button {
  --color: #560bad;
  font-family: inherit;
  display: inline-block;
  width: 8em;
  height: 2.6em;
  line-height: 2.5em;
  margin: 20px;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  border: 2px solid var(--color);
  transition: color 0.5s;
  z-index: 1;
  font-size: 17px;
  border-radius: 6px;
  font-weight: 500;
  color: var(--color);
}

button:before {
  content: "";
  position: absolute;
  z-index: -1;
  background: var(--color);
  height: 150px;
  width: 200px;
  border-radius: 50%;
}

button:hover {
  color: #fff;
}

button:before {
  top: 100%;
  left: 100%;
  transition: all 0.7s;
}

button:hover:before {
  top: -30px;
  left: -30px;
}

button:active:before {
  background: #3a0ca3;
  transition: background 0s;
}


@media (max-width: 1023px) {
  .image-container {
    display: none;
  }

  .form-container {
    width: 100% !important;
    max-width: 90% !important;
    margin: auto;
  }

  .main-wrapper {
    padding: 2rem;
  }
}
