body{
  background-color:black;
  color:white
}
.info-bar{
  background-color:white;
  color:black;
  width:60%;
  box-shadow: yellow;
  padding:2px 2px 2px 2px;
  border-radius:5px;
}
button{
  background-color:yellow;
  color:black;
  border:1px solid white;
  border-radius:0px;
  padding:10px 10px 10px;
}
input{
  width:60%;
  height:29px;
  background-color:black;
  color:yellow;
  text-align:center;
  border-radius:5px;
}
