body {
  background-color:black;
  color:white;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.search-div{
  background-color:aqua;
  color:black;
  position:absolute;
  right:2%;
  top:20%;
  padding:10px 10px 10px 10px;
  border-radius:5px;
  border:2px solid yellow ;
}
.earth-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.earth {
  width: 300px; /* Adjust size as needed */
  height: 300px; /* Adjust size as needed */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url('https://sharmapushkar-coder.github.io/Disclosure/earth.jpg'); /* Path to your SVG image */
  background-size: cover;
  border-radius: 50%;
  animation: rotate 20s linear infinite;
}
.menu {
  position: fixed;
  top: 0;
  left: -250px; /* Initially hidden off the screen */
  width: 250px;
  height: 100%;
  background-color: #333;
  transition: left 0.3s ease; /* Transition for sliding animation */
  z-index: 1000; /* Ensure the menu appears above other elements */
}

.menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu ul li {
  padding: 10px;
}

.menu ul li a {
  color: #fff;
  text-decoration: none;
}

.content {
  padding: 20px;
}

.menu-btn {
  position: fixed;
  top: 20px;
  left: 20px;
  cursor: pointer;
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  z-index: 1001; /* Ensure the menu button appears above the menu */
}

.menu-btn:hover {
  background-color: #555;
}

.close-btn {
  background-color: transparent;
  border: none;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  padding: 5px 10px;
  position: absolute;
  top: 10px;
  right: 10px;
}

.close-btn:hover {
  color: #ccc;
}


.top-bar{
  position:absolute;
  top:0px;
  left:1px;
  width:100%;
  background-color:black;
  color:white;
  padding:10px 10px 10px 10px;
}
.loading-top{
  width:100%;
  height::100%;
  position:fixed;
  left:0%;
  top:10%;
}
.news{
  background-color:white;
  color:black;
  position:absolute;
  top:20%;
  padding:10px 10px 10px 10px;
  border-radius:10px;
  font-family:Franklin Gothic Medium;
}
.background{
    background-attachment: fixed;
    background-position-y: 0%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    opacity: 1;
    position: absolute;
    top: 0px;
    transition: opacity 0.3s linear 0s;
    width: 100%;
}
a{
  color:yellow;
  font-family:manipulation;
}
#info{
  background-color:white;
  text-align:center;
  padding:5px 5px 5px 5px ;
  color:black;
  border-radius:5px;
  position:fixed;
  bottom:10%;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}
.more-button {
  background-color:black;
  color:white;
  width:100%;
  height:30px;
  border-radius:5px;
  border:1px solid orange;
}
.counts{
  background-color:orange;
  color:white;
  position:absolute;
  top:20%;
  left:20%;
  border-radius:5px;
  padding:10px 10px 10px 10px;
  border:2px solid white;
}
.glow {
  color: #ffffff;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}
textarea{
  width:80%;
  height:80px;
  background-color:black;
  color:white;
}
.sbutton{
  top:2px;
  background-color:orange;
  color:white;
  width:80px;
  height:80px;
  border-radius:5px;
}
@keyframes rotate {
  0% { transform: translate(-50%, -50%) rotate(0deg); }
  100% { transform: translate(-50%, -50%) rotate(360deg); }
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #eeeeee, 0 0 20px #000000, 0 0 30px #000000, 0 0 40px #000000, 
                 0 0 50px #9554b3, 0 0 60px #9554b3, 0 0 70px #9554b3;
  }
  to {
    text-shadow: 0 0 20px #eeeeee, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 
                 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}
